<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tu ubicación se utilizará para proporcionar direcciones en el mapa y mejorar la navegación.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Tu ubicación se utilizará para mejorar la experiencia de navegación, incluso cuando la aplicación esté en segundo plano.</string>
	<key>NSLocationAccuracyAuthorizationDescription</key>
	<string>Se requiere una ubicación precisa para mostrar direcciones y navegación exactas en el mapa.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Firebase URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1077042273728-5vutiltkgba3idm1tlss10fe43nool8u</string>
			</array>
		</dict>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiYXJzYW5teCIsImEiOiJjbTFvYTdiZHkwd2Z6MmtxNzJiZWhsOWg0In0._dFa3U7KqNZVCccqR5Kk-Q</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<string></string>
		</dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>3.145.117.182</key>
				<dict/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
